/* Home Section */
#home-intro {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
}

.highlight {
    background: linear-gradient(120deg, var(--secondary-color) 0%, var(--button-hover) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 5px;
}

/* Button Styles */
.button-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.primary-button,
.secondary-button {
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    font-weight: bold;
}

.primary-button {
    background-color: var(--primary-color);
}

.secondary-button {
    background-color: var(--secondary-color);
}

    .primary-button:hover,
    .secondary-button:hover {
        transform: translateY(-3px);
        background-color: var(--button-hover);
    }

    .primary-button a,
    .secondary-button a {
        color: var(--text-color);
        text-decoration: none;
    }
